* {
	padding-top: 39px;
	margin: auto;

}

body {
	background-color: #899679;
}

.wrapper {
	margin-left: -35px;
}

.image {
	display: flex;
	align-items: center;
	justify-content: center;
}


.image > .mirror {
	position: absolute;
	top: 20px;
}

#shelf {
	position: relative;
	width: 100%;


}

.text {
	display: block;
	margin: auto;
}


#product {
	position: absolute;
	width: 65px;
	height: 15px;
	top: 256px;
	left: 293px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

